<template>
  <div>
    <h1>Ingreso de usuarios</h1>
    <form @submit.prevent="ingresoUsuario({email, pass})">
      <input type="email" class="form-control my-2" placeholder="Ingrese su correo" v-model.trim="$v.email.$model">
      <span class="text-danger d-block" v-if="!$v.email.required">Campo requerido</span>
      <span class="text-danger d-block" v-if="!$v.email.email">Correo invalido</span>
      <input type="password" class="form-control my-2" placeholder="Ingrese su contraseña" v-model.trim="$v.pass.$model">
      <span class="text-danger mb-2 d-block" v-if="!$v.pass.required">Campo requerido</span>
      <span class="text-danger mb-2 d-block" v-if="!$v.pass.minLength">Minimo 6 caracteres</span>
      <span v-if="error" class="text-danger mb-2 d-block">Usuario o contraseña incorrecta</span>
      <button type="submit" class="btn btn-primary" :disabled="$v.$invalid">Iniciar</button>
    </form>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { required, minLength, email } from 'vuelidate/lib/validators'

export default {
  name: 'Acceso',
  data() {
    return {
      email: '',
      pass: ''
    }
  },
  methods: {
    ...mapActions(['ingresoUsuario'])
  },
  computed: {
    ...mapState(['error'])
  },
  validations: {
    email: {
      required, email
    },
    pass: {
      required, minLength:minLength(6)
    }
  }
}
</script>
