<template>
  <div>
    <h1>Editar</h1>
    <form class="form-inline" @submit.prevent="editarTarea(tarea)">
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Nombre</div>
        </div>
        <input type="text" class="form-control" v-model.trim="$v.tarea.nombre.$model">
      </div>
      <button type="submit" class="btn btn-primary mb-2" :disabled="$v.tarea.$invalid">Enviar</button>
    </form>
    <span class="text-danger" v-if="!$v.tarea.nombre.required">Campo requerido</span>
    <span class="text-danger d-block" v-if="!$v.tarea.nombre.minLength">Minimo 5 caracteres</span>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { required, minLength } from 'vuelidate/lib/validators'

export default {
  name: 'Editar',
  data() {
    return {
      id: this.$route.params.id
    }
  },
  created() {
    this.getTarea(this.id)
  },
  methods: {
    ...mapActions(['getTarea', 'editarTarea'])
  },
  computed: {
    ...mapState(['tarea'])
  },
  validations: {
    tarea: {
      nombre: {
        required, minLength:minLength(5)
      }
    }
  }
}
</script>
