<template>
  <div>
    <h1>Lista de Tareas</h1>
    <router-link to="/agregar">
      <button class="btn btn-primary btn-block">Agregar</button>
    </router-link>

    <div class="text-center mt-5" v-if="carga">
      <rotate-loader :loading="carga"></rotate-loader>
    </div>

    <div class="mt-5" v-else>

      <input type="text" placeholder="Buscar..." class="form-control" v-model="texto" v-on:keyup="buscador(texto)">

      <ul class="list-group mt-3">
        <li class="list-group-item" v-for="(tarea, index) in arrayFiltrado" :key="index">
          {{tarea.id}} - {{tarea.nombre}}

          <div class="float-right">
            <router-link class="btn btn-warning btn-sm mr-2" :to="{name: 'Editar', params: {id: tarea.id}}">
              Editar
            </router-link>
            <button @click="eliminarTarea(tarea.id)" class="btn btn-danger btn-sm">Eliminar</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import RotateLoader from 'vue-spinner/src/RotateLoader';

export default {
  name: 'Inicio',
  data() {
    return {
      texto: ''
    }
  },
  created() {
    this.getTareas();
  },
  components: {
    RotateLoader
  },
  methods: {
    ...mapActions(['getTareas', 'eliminarTarea', 'buscador'])
  },
  computed: {
    ...mapState(['tareas', 'carga']),
    ...mapGetters(['arrayFiltrado'])
  }
}
</script>
