<template>
  <div>
    <h1>Registro de usuarios</h1>
    <form @submit.prevent="registrarUsuario({email: $v.email.$model, pass: $v.pass1.$model})">
      <input type="email" class="form-control my-2" placeholder="Ingrese su correo" v-model.trim="$v.email.$model">
      <span class="text-danger d-block" v-if="!$v.email.required">Campo requerido</span>
      <span class="text-danger d-block" v-if="!$v.email.email">Correo invalido</span>
      <input type="password" class="form-control my-2" placeholder="Ingrese su contraseña" v-model.trim="$v.pass1.$model">
      <span class="text-danger mb-2 d-block" v-if="!$v.pass1.required">Campo requerido</span>
      <span class="text-danger mb-2 d-block" v-if="!$v.pass1.minLength">Minimo 6 caracteres</span>
      <input type="password" class="form-control my-2" placeholder="Repita su contraseña" v-model.trim="$v.pass2.$model">
      <span class="text-danger mb-2 d-block" v-if="!$v.pass2.sameAsPassword">Las contraseñas deben coincidir</span>
      <span class="text-danger mb-2 d-block" v-if="error">{{error}}</span>
      <button type="submit" class="btn btn-primary" :disabled="!desactivar">Registrar</button>
    </form>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { required, minLength, email, sameAs } from 'vuelidate/lib/validators'

export default {
  name: 'Registro',
  data() {
    return {
      email: '',
      pass1: '',
      pass2: ''
    }
  },
  methods: {
    ...mapActions(['registrarUsuario'])
  },
  computed: {
    ...mapState(['error']),
    desactivar() {
      return this.pass1 === this.pass2 && this.pass1.trim() !== '' && this.pass1.length > 5
    }
  },
  validations: {
    email: {
      required, email
    },
    pass1: {
      required, minLength: minLength(6)
    },
    pass2: {
      sameAsPassword: sameAs('pass1')
    }
  }
}
</script>
